<section class="experience" id="experience">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner">
                <div class="carousel-item active experience-slider">
                    <div class="experice-info">
                        <h3>WELCOME TO THE HOME PAGE</h3>
                        <p>
                            This is a content app where users can write their daily task or some other
                            text. Each content has a Title and Description. This is a crud app also user
                            can delete, edit their content, but user must login n to do so. 
                        </p>
                    </div>
                </div>
                <div class="carousel-item experience-slider">
                    <div class="experice-info">
                        <h3>PROJECT 2</h3>
                        <p>
                            Aperiam dolorum et et wuia molestias qui eveniet numquam nihil
                            porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop
                            porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop
                        </p>
                    </div>
                </div>
                <div class="carousel-item experience-slider">
                    <div class="experice-info">
                        <h3>PROJECT 3</h3>
                        <p>
                            Aperiam dolorum et et wuia molestias qui eveniet numquam nihil
                            porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop 
                            porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>