<% feedback_on.feedbacks.each do |feedback| %>
    <div class="text-dark bg-light p-1 m-1 rounded" style="background: floralwhite !important;">
            <div class="d-block text-start">
                <span class="d-block fst-italic">by <strong><%= User.find(feedback.user_id).username %></strong></span>
                <span class="d-block px-2"><%= feedback.info %></span>
            </div>
    </div>
<% end %>