<%= stylesheet_link_tag 'footer' %>
<section class="strip">
    <h4>Copy Rights</h4>
    <div class="icons">
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    </div>
</section>